$primary : #409eff !default;
$danger : #e6a23c !default;
$success : #00d100 !default;
$warning : #f56c6c !default;

.yang-button{
  border-width : 1px;
  border-style: solid;
  border-color : #dcdfe6;
  height : 40px;
  padding : 0 20px;
  background-color: #fff;
  border-radius: 4px;
  font-size : 14px;
  color: #606266;
  cursor: pointer;

  + .yang-button{
    margin-left : 14px;
    margin-bottom: 10px;
  }

  > span{
    display: inline-flex;
    align-items: center;
    justify-content: center;
  }

  .icon-prefix { margin-right: 10px; }
  .icon-suffix { margin-left: 10px; }
}
.yang-button-medium{
  height : 38px;
}
.yang-button-small{
  padding: 0 15px;
  height: 32px;
  font-size: 12px;
}
.yang-button-mini{
  padding: 0 15px;
  height: 28px;
  font-size: 12px;
}
.yang-button[disabled]{
  cursor: not-allowed;
  opacity: 0.5;
}
.yang-button-primary{
  background-color: $primary;
  border-color : $primary;
  color : #fff;
  &.is-border{
    background-color: transparent;
    color : $primary;
  }
}
.yang-button-success{
  background-color : $success;
  border-color :  $success;
  color : #fff;
  &.is-border{
    background-color: transparent;
    color : $success;
  }
}
.yang-button-danger{
  background-color : $danger;
  border-color :$danger;
  color : #fff;
  &.is-border{
    background-color: transparent;
    color : $danger;
  }
}
.yang-button-warning{
  background-color: $warning;
  border-color : $warning;
  color : #fff;
  &.is-border{
    background-color: transparent;
    color : $warning;
  }
}

/*** 圆角 */
.is-round{border-radius: 100px;}
/**块级按钮*/
.yang-button-block{
  display: block;
  width: 100%;
  padding: 0;
  margin-bottom: 0;
}
/**loading动画加载*/
.icon-loading{
  animation: loading 2s infinite linear;
}

@keyframes loading {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
